// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';


html, body {

    color: #636b6f;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    margin: 0;
}

input.form-control::placeholder {
    opacity: .3;
}
.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}
.menu-center{
    height: 100vh;
}
.content {
    text-align: center;
}

.title {
    font-size: 84px;
}

.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md {
    margin-bottom: 30px;
}

.weather-report-container{
    margin-top: 20px;    
}

.weather-time{
    margin: 20px 0px 15px 0px;
    > div{
        > span{
            font-weight: bold;
        }
    }
}

.weather-details{
    > div{
        > span{
            font-weight: bold;
        }

    }
}

.button-group-table{
    display: flow-root;
}
table {
    border-collapse: collapse;
}
.table td, .table th {
    padding: 0.5rem;
    vertical-align: middle;
}
table.fancytree-ext-table tbody tr td {
    border: 0px solid #EDEDED;
}
.table-content{
    width: 100%;
    margin-top: 5px;
    background: #ddd;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 40px 0 rgb(0 0 0 / 15%);
    -moz-box-shadow: 0 0 40px 0 rgba(0,0,0,.15);
    -webkit-box-shadow: 0 0 40px 0 rgb(0 0 0 / 15%);
    -o-box-shadow: 0 0 40px 0 rgba(0,0,0,.15);
    -ms-box-shadow: 0 0 40px 0 rgba(0,0,0,.15);
}
th{
    font-family: Lato-Bold;
    font-size: 18px;
    color: #fff;
    line-height: 1.4;
    background-color: #6c7ae0;
}

button::before{
    margin-right: 3px;
}

span.fancytree-title{
    background: #fff;;

    font-family: Lato-Regular;
    font-size: 15px;
    color: gray;
    line-height: 1.4;
}
tr td, span.fancytree-title{
    background: #fff;;

    font-family: Lato-Regular;
    font-size: 15px;
    color: gray;
    line-height: 1.4;
}
.column1{
    padding-left: 40px !important;
    width: 60%;
}
w-10{
    width: 10%;
}

.btn-crud-table{
    /*color: yellow;*/
    margin-left: 2px;
    width: max-content;
    padding-left: 15px;
    padding-right:  15px;
    margin-top: 5px;
    margin-bottom:  5px;
    border-radius: 2px;
}

.set-default-icon{
    width: 25px;
    cursor: pointer;
}
.no-default-icon:hover{

    cursor: pointer;
}

